.m20 {
  margin-top: 20px;
}

.p20 {
  margin-top: 20px;
}

.m40 {
  margin-top: 40px;
}

.p40 {
  margin-top: 40px;
}

.m60 {
  margin-top: 60px;
}

.p60 {
  margin-top: 60px;
}

.m80 {
  margin-top: 80px;
}

.p80 {
  margin-top: 80px;
}

.m100 {
  margin-top: 100px;
}

.p100 {
  margin-top: 100px;
}

.jumbotron {
  background: #ea212e;
}

footer {
  margin-top: 20px;
  background-color: #ea212e;
  margin-bottom: 0px;
  margin-top: 10px;
}

.card-lorem {
  flex: 1 15px;
  padding: 2px 5px 2px 5px;
  min-width: 250px;
}

.w100 {
  width: 100%;
}

.banner {
  max-height: 400px;
  overflow: hidden;
}

#carouselExampleControls {
  max-height: 80vh;
  overflow-y: hidden;
}

/*# sourceMappingURL=styles.css.map */
