$red:#ea212e;
$yellow:#FFDF00;
$green: #45FF00;

$space: 10;
@mixin margin($size) {
    margin-top: $size * $space + px;
}
@mixin padding($size) {
    margin-top: $size * $space + px;
}
@for $i from 1 through 10 {
    @if ($i%2 == 0){
        .m#{$i}0 { @include margin($i);}
        .p#{$i}0 { @include padding($i);}
    }
} 

.jumbotron {
  background:$red;
}

footer {
    @include margin(2); 
  background-color: $red;
  margin-bottom: 0px;
  margin-top: 10px;
}

.card-lorem {
  flex: 1 15px;
  padding: 2px 5px 2px 5px;
  min-width: 250px;
}

.w100 {
  width: 100%;
}

.banner {
  max-height: 400px;
  overflow: hidden;
}

#carouselExampleControls {
  max-height: 80vh;
  overflow-y: hidden;
}

